# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
npm-debug.log*
lerna-debug.log*

# JVM / crash dumps
hs_err_pid*.log

# Build outputs
node_modules
dist
dist-ssr
*.local

# Editor / IDE files (intellij)
.idea
*.iml

# Eclipse workspace metadata
.metadata/
.settings/
.classpath
.project

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
target/

# Environment & Local Secrets
.env
.env.*
!.env.example
*.env
*.env.local
