@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
}
.animate-scroll {
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
}
.animate-scroll-slow {
  animation-play-state: paused;
}
.group:hover .animate-scroll {
  animation-duration: 40s;
}